/*-----------------------------------------------------------------------Universal----------------------*/
body {
    color: #426e86;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

a {
    color: #426e86;
    font-family: 'Lato', sans-serif;
}





/*-----------------------------------------------------------------------Nav----------------------*/

.nav-bg-color {
    background-color: #f9ba32e6;
}

.navbar-light .navbar-brand {
     color: #426e86;
    font-family: 'Lato', sans-serif;
}

/*-----------------------------------------------------------------------Containers----------------------*/

.landing {
    height: 100vh;
    background-image: url(../images/solutions.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f1e5;
    position: relative;


}

.landing,h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.content-container {
    background-color: #f8f1e5;
    text-align: center;
}
 .container {
     text-align: center;
 }




/*-----------------------------------------------------------------------Buttons----------------------*/

.fas {
     font-size: 100px;
     padding-top: 50px;
     padding-bottom: 50px;
 }


.btn-secondary {
    color: #fff;
    background-color: #426e8600;
    border-color: #426e8600;
}






/*-----------------------------------------------------------------------Footer----------------------*/
.footer {
    background-color: #2f3131;
    color: #426e86;
    font-size: small;
    margin: 30,0,30,0;
    min-height: 100px;
    text-align: center;

}

.btn-primary {
    background-color: #426e86;
}