/*-----------------------------------------------------------------------Colors----------------------*/
.nav-bg-color {
    background-color: #f9ba32e6;
}


.btn-secondary {
    color: #fff;
    background-color: #426e8600;
    border-color: #426e8600;
}

.navbar-light .navbar-brand {
     color: #426e86;
    font-family: 'Lato', sans-serif;
}

body {
    color: #426e86;
    font-family: 'Lato', sans-serif;
}

a {
    color: #426e86;
    font-family: 'Lato', sans-serif;
}

.content-container {
    background-color: #f8f1e5;
    text-align: center;
}
 .container {
     text-align: center;
 }
 .fas {
     font-size: 100px;
     padding-top: 50px;
     padding-bottom: 50px;
 }



/*-----------------------------------------------------------------------Header----------------------*/











/*-----------------------------------------------------------------------Footer----------------------*/
.footer {
    background-color: #2f3131;
    color: #426e86;
    font-size: small;
    margin: 30,0,30,0;
    min-height: 100px;
    text-align: center;

}

.btn-primary {
    background-color: #426e86;
}